﻿
<div ng-controller="ClientsListCtrl">
    <p>Clients Spenta</p>

    <div>
        Search: <input ng-model="queryClients">
        Sort by:
        <select ng-model="orderClients">
            <option value="Name">Alphabetical</option>
            <option value="Year">Newest</option>
        </select>
        <input type="button" value="Clear" ng-click="clearFilter()"/>
        <div  ng-repeat="category in Categories">
            <input type="radio" ng-model="$parent.categoryFilter" name="categoryFilter" value="{{category}}">{{category}}<br>
        </div>
    </div>
    <div>
        <ul style="list-style:none">
            <li class="clientStyle" category="{{client.Category}}" style=" width:200px; height:200px; float:left; margin:2%" ng-repeat="client in Clients | filter:{Name:queryClients, Category:categoryFilter} | orderBy:orderClients">
                <div>
                    <a href="#/client/{{client.Id}}">
                        <img ng-src="{{client.ImageUrl}}" style="margin: 13% 24%; width:102px; height:102px" />
                        <br />
                        <span style="margin: 0% 35%; background-color:#e8d48a">{{client.Name}}</span>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>
