﻿
<div ng-controller="ClientDetailCtrl">
    <p>Client Detail {{ClientDetail.Name}}</p>
    <h3>{{ClientDetail.Year}}</h3>
    <div>
        <img ng-src="{{ClientDetail.ImageUrl}}" style=" width:102px; height:102px" />
        <p>Projects</p>
        <ul>
            <li ng-repeat="project in ClientDetail.Projects">
                <span>{{project.NameP}}</span>
                <span>{{project.Description}}</span>
                <span>{{project.Finished}}</span>
            </li>
        </ul>
    </div>
</div>
